.scrollView{
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}
.box{
  width: 375px;
  height: 250px;
  background-color: #ffffff;
}
.testImg1{
  width: 450px;
  height: 450px;
  background-size: 100% 100%;
  /* background-image: url(../assets/www.png), linear-gradient(#f00, #f00);
  background-blend-mode: lighten; */
  background-image: url(../assets/www.png);
  filter:drop-shadow(0px 10px #FF0000);
  
}
#title{
  width: 50px;
  height: 50px;
  background-color: #dddddd;
}
.testImg {
  width: 100px;
  height: 100px;
  background-image: url(../assets/www.png);
  background-size: 100% 100%;
  margin: 20px;
  border: 20px solid #8ca0ff;
  padding: 20px;
  mask-size: 100% 100%;
  mask-clip: border-box;
  mask-image: element('#title');
}
.coupon {
  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  background: radial-gradient(circle at right bottom, transparent 10px, #333 0) top right /50% 51px no-repeat,
  radial-gradient(circle at left bottom, transparent 10px, #333 0) top left / 50% 51px no-repeat,
  radial-gradient(circle at right top, transparent 10px, #333 0) bottom right / 50% 51px no-repeat,
  radial-gradient(circle at left top, transparent 10px, #333 0) bottom left / 50% 51px no-repeat;
  /* filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .2)); */
}
.coupon span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: red;
  font-size: 50px;
  font-weight: 400;
}
.content{
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 1em;
  grid-auto-flow: dense;
}
.boxs{
  height: 50px;
  width: 50px;
  background-color: #333;
}
.boxm{
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #999;
}
.boxm::after{
  border-color: #FF0000;
}

.boxl{
  height: 200px;
  width: 200px;
  background-color: #666;
}